Import the `nycflights13` package. (*Hint: use the* `library` *command*)

In [5]:
library("tidyverse")
library("nycflights13")

The `flights` table has quite a few rows... better to use a tibble to handle this table than a data frame.

In [6]:
# uncomment the next line and run this cell.

 nrow(flights)

[1] 336776

Convert the `flights` data frame to a tibble and use print the preview the first ten rows. (*Hint: you have to import* `tidyverse` *first*).

In [8]:
flights%>% as_tibble%>%print

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

How many columns are there in the `flights` table?

19

### Bonus

Read in the marathon data set as a tibble and preview the table using `print`.

In [9]:
df<-read_csv("https://github.com/chuckpr/BIOS512/raw/main/in-class-exercises/data/marathon.csv")
df%>%as_tibble%>%print

Parsed with column specification:
cols(
  year = col_double(),
  name = col_character(),
  country = col_character(),
  time = col_character(),
  race.time = col_double(),
  MF = col_character(),
  country.simple = col_character()
)

# A tibble: 171 x 7
    year name                 country     time    race.time MF    country.simple
   <dbl> <chr>                <chr>       <chr>       <dbl> <chr> <chr>
 1  2019 "Lawrence Cherono"   Kenya       2H 7M …      2.13 Men's Kenya
 2  2018 "Yuki Kawauchi"      Japan       2H 15M…      2.27 Men's Japan
 3  2017 "Geoffrey Kirui"     Kenya       2H 9M …      2.16 Men's Kenya
 4  2016 "Lemi Berhanu"       Ethiopia    2H 12M…      2.21 Men's Ethiopia
 5  2015 "Lelisa Desisa"      Ethiopia    2H 9M …      2.15 Men's Ethiopia
 6  2014 "Mebrahtom \"Meb\" … United Sta… 2H 8M …      2.14 Men's United States
 7  2013 "Lelisa Desisa"      Ethiopia    2H 10M…      2.17 Men's Ethiopia
 8  2012 "Wesley Korir"       Kenya       2H 12M…      2.21 Men's Kenya
 9  2011 "Geoffrey Mutai"     Kenya       2H 3M …      2.05 Men's Kenya
10  2010 "Robert Kiprono Che… Kenya       2H 5M …      2.10 Men's Kenya
# … with 161 more rows